* {
  margin: auto;
  padding: 3px;
  box-sizing: border-box;
}   
body {
  font-family: 'Roboto', sans-serif;
  background-color: bisque;
}

img {
  width: 10rem;
  height: 10rem;
  border-radius: 10px;
}
#app-container {
  display: none;
  align-items: center;
  justify-content: center;
}
#welcome-container {
  text-align: center;
  margin-top: 50px;
}
